<header class="header">
	<div class="header__logo"><a href="/"><img src="images/widgets/Logo.png"></a></div>
	<img class="header__menu" src="images/widgets/menu.svg" onclick="toggleAside('show')"> 
	<div class="nav">
		<div class="nav__link"><a href="/gesichtspflege">GESICHTSPFLEGE</a></div>			
		<div class="nav__link"><a href="/hand_und_fusspflege">HAND UND FUSSPFLEGE</a></div>			
		<div class="nav__link"><a href="/uber_mich">UBER MICH</a></div>			
		<div class="nav__link"><a href="/termin">termin</a></div>
	</div>
</header>