<!DOCTYPE html>
<html>
<head>
	<title>Olga Thom</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/Style/all.css">
</head>
<body>

	{{> aside}}

	<header class="header">
		<div class="header__logo"><img src="images/widgets/Logo.png"></div>
		<img class="header__menu header__menu__landing" src="images/widgets/menu.svg" onclick="toggleAside('show')"> 
	</header>

	<section class="main">
		<div class="grid">
			<div class="grid_item">
				<div class="grid_img"></div>
				<div class="grid_title"><h1><a href="/gesichtspflege">GESICHTSPFLEGE</a></h1></div>
			</div>
			<div class="grid_item">
				<div class="grid_img grid_img2"></div>
				<div class="grid_title"><h1><a href="/hand_und_fusspflege">HAND UND FUSSPFLEGE</a></h1></div>
			</div>
			<div class="grid_item">
				<div class="grid_img grid_img3"></div>
				<div class="grid_title"><h1><a href="/uber_mich">UBER MICH</a></h1></div>
			</div>
			<div class="grid_item">
				<div class="grid_img grid_img4"></div>
				<div class="grid_title"><h1><a href="/termin">termin</a></h1></div>
			</div>				
		</div>

		<div class="slider">
    		<div class="buttons" id="prev"></div>
    		<div id="result"></div>
			<div class="buttons buttons__next" id="next"></div>
		</div>

	</section>

</body>

<script type="text/javascript" src="/js/aside.js"></script>
<script type="text/javascript" src="js/circularSliderDiv.js"></script>

</html>