<!DOCTYPE html>
<html>
<head>
	<title>Termin</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/Style/all.css">
</head>
<body>
	
	{{> aside}}
	
	{{> header}}
	
	<section class="main">
		<p>
			The service is under development and will be available soon 
		</p>
		<!-- <div class="grid__item grid__item__img">
			<div class="grid__img grid__img__appointment"></div>
		</div>
		<div class="termin-table">
			<div class="day">
				<div class="time time__day-title ">MO</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">DI</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">MI</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">DO</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day day__fr">
				<div class="time time__day-title">FR</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
		</div>
		<div class="termin-link">
			<div class="link-img"><img src="images/widgets/logo.svg"></div>
			<div class="link-date">JUMP TO DATE</div>
		</div>	 -->
	</section>

</body>

<script type="text/javascript" src="/js/aside.js"></script>

</html>
