<!DOCTYPE html>
<html>
<head>
	<title>Termin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/Style/all.css">
</head>
<body>
	
	<section class="aside" id="aside">
		<div class="aside-inner">
			<div class="aside-close">
				<img src="images/widgets/close.svg" onclick="toggleAside('hide')">
			</div>
			<div class="aside-list">
				<li class="aside-list__item"><a href="/gesichtspflege">GESICHTSPFLEGE</a></li>
				<li class="aside-list__item"><a href="/hand_und_fusspflege">HAND UND FUSSPFLEGE</a></li>
				<li class="aside-list__item"><a href="/uber_mich">UBER MICH</a></li>
				<li class="aside-list__item"><a href="/termin">termin</a></li>
				<li class="aside-list__item"><a href="/landing">home</a></li>
			</div>
		</div>
	</section>
	<section class="aside-backdrop" id="aside-backdrop" onclick="toggleAside('hide')"></section>
	

	<header class="header">
		<div class="header__logo"><a href="/landing"><img src="Images/widgets/Logo.png"></a></div>
		<img class="header__menu" src="images/widgets/menu.svg" onclick="toggleAside('show')"> 
		<div class="nav">
			<div class="nav__link"><a href="/gesichtspflege">GESICHTSPFLEGE</a></div>			
			<div class="nav__link"><a href="/hand_und_fusspflege">HAND UND FUSSPFLEGE</a></div>			
			<div class="nav__link"><a href="/uber_mich">UBER MICH</a></div>			
			<div class="nav__link"><a href="/termin">termin</a></div>
		</div>
	</header>
	<section class="main">
		<div class="grid__item grid__item__img">
			<div class="grid__img grid__img__appointment"></div>
		</div>
		<div class="termin-table">
			<div class="day">
				<div class="time time__day-title ">MO</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">DI</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">MI</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day">
				<div class="time time__day-title">DO</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
			<div class="day day__fr">
				<div class="time time__day-title">FR</div>
				<div class="time">09:00</div>
				<div class="time">10:00</div>
				<div class="time">11:00</div>
				<div class="time">12:00</div>
				<div class="time">13:00</div>
				<div class="time">14:00</div>
				<div class="time">15:00</div>
				<div class="time">16:00</div>
				<div class="time">17:00</div>				
			</div>
		</div>
		<div class="termin-link">
			<div class="link-img"><img src="images/widgets/logo.svg"></div>
			<div class="link-date">JUMP TO DATE</div>
		</div>	
	</section>

</body>

<script type="text/javascript" src="/js/aside.js"></script>

</html>