.grid{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.grid_item{
	width: 250px;
	display: flex;
	flex-flow: column wrap;
	margin: 0 10px;
}

.grid__sizeM{
		display: none;
	}

.grid_img {
	width: 250px;
	height: 475px;
	background-size: cover;
	background-image: url(../../images/widgets/chick1.png);
	background-repeat: no-repeat;
}

	.grid_img2{
		background-image: url(../../images/widgets/swill.png);	
	}

	.grid_img3{
		background-image: url(../../images/widgets/chick2.jpg);	
	}

	.grid_img4{
		background-image: url(../../images/widgets/appointment.jpg);
	}


.grid_title{
	width: 250px;
	height: 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	align-content: center;
	padding: 0 20px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
	.grid{
		display: none;
	}
}

@media screen and (max-width: 600px)  {
	.grid__sizeM{
		display: flex;
		margin-bottom: 20px;
	}

}