h1{
	font-size: 18px;
	text-transform: uppercase;
}

p{
	font-size: 16px;
	line-height: 1.5;
	margin-top: 20px;
}

a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	outline: none;
}

	a:hover {
		color: #707070;
		text-decoration: none;
	}

.slider_text{
	font-size: 18px;
	text-transform: uppercase;
}

